
.profile{
    margin-top: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: groove;
    background-color: white;
}

#about {
    margin-top: 20px;
    text-align: center;
}

.imgProfile {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 11px rgba(0,0,0,0.48) ;
}

.description {
    margin-left: 20px;
}

.text {    
  font-size: 35px;
  padding-left: 20px;
  text-align: left;
  font-family: 'Tapestry', cursive;
}


.comentarios {
    margin-top: 20px;
}

#formComments{
    text-align: center;
}

.addComment {
    text-align: center;
    margin-bottom: 10px;
    width: 100vh;
}

#formButton{
    margin-top: 10px;
}

@media (max-width: 633px){
    .profile {
        display: flex;
        flex-direction: column;
    }
    .imgProfile{
        width: 300px;
    }
}