.cardBox {
     margin-left: 100px;
     display: inline-block;
     padding: 10px 10px;
 }
 
 .card {
     margin-top: 15px;
     width: 35vh;
 }

 .cardImg{
     width: 29,3vh;
 }
 
 .cardText {
     background-color: rgb(235, 229, 229);
     text-align: center;
 }
 
 .cardText button {
     background-color:rgb(235, 229, 229) ;
     border:none;
     text-decoration: none;
     font-size: 18px;
 }