.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px 10px;
}

.logo {

    width: 300px;
    max-width: 110 px;
    max-height: 110 px;
}

.principalName{
    text-align: center;
    color: black;
    text-decoration: none;
   font-family: 'Square Peg', cursive;
}
